Package: com.dreece.passtoad
Name: passtoad
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Daniel
Author: Daniel
Section: Tweaks
Version: 0.0.1-3
Installed-Size: 72
